<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
    <servlet>
        <servlet-name>Watchers</servlet-name>
        <servlet-class>com.xplenty.api.router.WatchersRouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Members</servlet-name>
        <servlet-class>com.xplenty.api.router.MemberRouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PK</servlet-name>
        <servlet-class>com.xplenty.api.router.PublicKeyRouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>com.xplenty.api.router.AccountRouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Package</servlet-name>
        <servlet-class>com.xplenty.api.router.PackageRouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.xplenty.api.router.UserRouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebHook</servlet-name>
        <servlet-class>com.xplenty.api.router.WebHookRouter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Watchers</servlet-name>
        <url-pattern>/mock/watchers/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Members</servlet-name>
        <url-pattern>/mock/members/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PK</servlet-name>
        <url-pattern>/mock/pk/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/mock/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Package</servlet-name>
        <url-pattern>/mock/package/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/mock/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebHook</servlet-name>
        <url-pattern>/mock/webhook/*</url-pattern>
    </servlet-mapping>
</web-app>